<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
    <title>Daily blog</title>
</head>
<body class="wrapper">
    <header>
        <nav class="nav-bar">
            <div class="header">Daily journal</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/create-post">Create post +</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>